/* line 1, ../../style/sass/components/font.sass */
.font12 {
  font-size: 12px;
}

/* line 3, ../../style/sass/components/font.sass */
.font14 {
  font-size: 14px;
}

/* line 5, ../../style/sass/components/font.sass */
.font16 {
  font-size: 16px;
}

/* line 7, ../../style/sass/components/font.sass */
.font18 {
  font-size: 18px;
}

/* line 9, ../../style/sass/components/font.sass */
.font20 {
  font-size: 20px;
}

/* line 11, ../../style/sass/components/font.sass */
.font22 {
  font-size: 22px;
}

/* line 13, ../../style/sass/components/font.sass */
.font24 {
  font-size: 24px;
}

/* line 15, ../../style/sass/components/font.sass */
.font26 {
  font-size: 26px;
}

/* line 17, ../../style/sass/components/font.sass */
.font28 {
  font-size: 28px;
}

/* line 19, ../../style/sass/components/font.sass */
.font30 {
  font-size: 30px;
}

/* line 21, ../../style/sass/components/font.sass */
.font32 {
  font-size: 32px;
}

/* line 23, ../../style/sass/components/font.sass */
.font36 {
  font-size: 36px;
}

/* line 25, ../../style/sass/components/font.sass */
.font40 {
  font-size: 40px;
}

/* line 27, ../../style/sass/components/font.sass */
.font60 {
  font-size: 60px;
}

/* line 29, ../../style/sass/components/font.sass */
.font70 {
  font-size: 70px;
}

/* line 31, ../../style/sass/components/font.sass */
.font80 {
  font-size: 80px;
}

/* line 33, ../../style/sass/components/font.sass */
.font100 {
  font-size: 100px;
}

/* line 35, ../../style/sass/components/font.sass */
.font-space1 {
  letter-spacing: 1px;
}
